*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}nav ul{
    display: flex;
    
    margin-left: 320px;
    gap: 20px; 
   
}nav ul li {
 
    text-decoration: none;
    margin-right: 40px;
    font-weight: 700;
    font-size: 14px;
  
    list-style: none;
    text-align: center;
}.mainnn{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
     url(./image/IN-en-20230206-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    height: 105vh;
}.line{
    width: 100%;
    height: 10px;
    background-color: grey;
    border: 5px solid grey;
}
 button {
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        border-radius: px;
        background: black;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border:  1px solid white;
      }
      
      button:hover {
        text-decoration: none;
      }
      .btn {
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        border-radius: px;
        background: red;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        border: none;
      }
      
      button:hover {
        text-decoration: none;
      }
nav img{
   width: 120px;
   background: transparent;
   margin: 20px;
}main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px;
    */
}.mainline{
    margin-bottom: 80px;
    color: #ffffff;
    
}.mainline span{
    text-align: center;
   justify-content: center;
}h1{
    font-size: 60px;
}.p-class{
    font-size: 27px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}a{
    display: flex;
    justify-content: center;
    text-align: center;
}p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}input{
    height: 50px;
    width: 550px;
    border: none;
}input text{
    display: flex;
    justify-content: center;
    text-align: center;
}.bttn{
 background-color: red;
 height: 50px;
 border: none;
}.inputt{
    padding: 30px;
}

/* Heading css */

.heading{
  background-color: black;
  display: flex;
   /* display: grid;
   grid-template-columns: 50% 30%; */
   overflow: hidden;
}.heading img{
    margin: 30px;
   width: 600px;
   height: 400px;
}h2{
 color: white;
  font-size: 50px;
}.main-heading{
    margin: 80px;
    padding-left: 50px;
    font-size: 25px;
    color: white;
}
/* second-heading */

.second-heading{
    display: flex;
    background-color: black;
}.second-heading img{
    margin: 30px;
    width: 600px;
    height: 400px;
}.main-heading2{
  
    margin: 100px;
    color: #ffffff;
}.main-heading2 h3{
    font-size: 25px;
}.main-heading2 h1{
    font-size: 40px;
}

/* third -heading */

.third-heading{
    display: flex;
    background-color: black;
}.third-heading img{
    margin: 30px;
    width: 600px;
    height: 400px;
}.third-heading h3{
    font-size: 30px;
    color: #ffffff;
}.main-heading3{
    margin: 100px;
    color: #ffffff;
}


/* fourth-heading */

.fourth-heading{
    display: flex;
    background-color:black ;
    color: white;
   
}.fourth-heading img{
    margin: 30px;
    width: 600px;
    height: 400px;
}.main-heading4{
    margin: 100px;

}
.main-heading4 h1{
    font-size: 50px;
    
}.main-heading4 h4{
    font-size: 25px;
}

 /* fith sectino */
 .container{
    background-color: black;
 }
 .faq{
    padding: 54px 0;
}
.faq .heading-lg{
    text-align: center;
}
.faq-list{
    background-color: black;
    padding: 31px;
    margin: 0 auto;
    max-width: 815px;
}
.faq-list li{
    margin: 8px 0;
}
.faq-head{
    background-color: var(--grey-color);
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 16px 44px 16px 24px;
    min-width: 400px;
}
.faq-icon img{
    width: 28px;
}
.faq-icon .cancel-icon{
    width: 24px;
}
.faq-body{
    font-size: 1.25rem;
    line-height: 1.3;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: var(--grey-color);
}
.show-faq-body{
    max-height: 1000px;
}
.faq-body p{
    padding: 24px;
}.email-text{
    color: white;
}.texxt{
    display: flex;
    justify-content: center;
    align-items: center;
}.itextt{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* s */